# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Cache files
f1_cache/
cache/
*.cache

# Environment
.env
*.egg-info/
dist/
build/
.venv/
venv/
env/

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Extra
methodology.md